<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Extension Updates</key>
    <array>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.elethomhunter.weibotwitterfier</string>
            <key>Developer Identifier</key>
            <string>CZDGR5BU6D</string>
            <key>CFBundleVersion</key>
            <string>4</string>
            <key>CFBundleShortVersionString</key>
            <string>0.3</string>
            <key>URL</key>
            <string>https://github.com/Elethom/WeiboTwitterfier/releases/download/0.3/WeiboTwitterfier.safariextz</string>
        </dict>
    </array>
</dict>
</plist>
