/*
 * Hide nav
 */
div.gn_nav {
    display: none !important;
}

/*
 * Fix search position
 */
div.gn_search {
    margin-left: 495px !important;
}

/*
 * Hide member setting
 */
div.gn_setting[node-type=member] {
    display: none !important;
}



/*
 * Hide left group
 */
div#pl_leftnav_common + div {
    display: none !important;
}

/*
 * Hide left app nav
 */
div#pl_leftnav_app {
    display: none !important;
}



/*
 * Hide middle news area
 */
div#pl_content_publisherTop > div.send_weibo > div.title_area {
    display: none !important;
}

/*
 * Hide middle ads / guide / member recommendation
 */
div#pl_content_biztips {
    display: none !important;
}
div#pl_ad_yaoyaoFans {
    display: none !important;
}

/*
 * Hide middle group nav
 */
div#pl_content_homeFeed > div.group_read {
    display: none !important;
}

/*
 * Hide middle feed recommendation
 */
div[node-type=feed_list_recommend] {
    display: none !important;
}

/*
 * Hide middle feed ads
 */
div.WB_feed_type[feedtype=ad] {
    display: none !important;
}

/*
 * Hide middle shield keyword ad
 */
div[node-type=feed_list_shieldKeyword] {
    display: none !important;
}



/*
 * Hide skin settings
 */
div#pl_content_setSkin {
    display: none !important;
}

/*
 * Hide user level icon
 */
div#pl_rightmod_myinfo > dl.W_person_info > dd.nameBox > div.icon_bed {
    display: none !important;
}

/*
 * Hide checkin module
 */
div#trustPagelet_checkin_lotteryv5 {
    display: none !important;
}

/*
 * Hide right member recommendation
 */
div#trustPagelet_indexright_recom {
    display: none !important;
}

/*
 * Hide right VIP ads
 */
div#trustPagelet_recom_memberv5 {
    display: none !important;
}

/*
 * Hide right ads
 */
div#pl_rightmod_ads36 {
    display: none !important;
}

/*
 * Hide right bulletin
 */
div#pl_rightmod_noticeboard {
    display: none !important;
}



/*
 * Hide footer ads
 */
div.footer_adv {
    display: none !important;
}

/*
 * Hide footer
 */
div.global_footer {
    display: none !important;
}

